<mat-toolbar>
    <button mat-icon-button (click)="toggleSideNav()" *ngIf="user">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="avatar-button" [matMenuTriggerFor]="userMenu">
        <app-avatar avatarSize="30"></app-avatar>
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
        <button mat-menu-item routerLink="editprofile">
            <mat-icon>edit</mat-icon>
            <span>Edit Profile</span>
        </button>
    </mat-menu>
</mat-toolbar>